*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
}

.container {
    --grid-line-width: 4px;
    display: grid;
    width: calc(600px+var(--grid-line-width));
    gap: var(--grid-line-width);
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    background-color: black;
    position: relative;
}

.container>div {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    user-select: none;
}

.container>div.material-symbols-outlined {
    font-size: 10rem;
}

.container>div:hover {
    cursor: pointer;
}

.name-inputs {
    display: flex;
    gap: 2rem;
}

.name-inputs>p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input[type="text"]:disabled {
    user-select: none;
}

input[type="text"]+span {
    user-select: none;
}

input[type="text"]:hover {
    background: blue;
}

.container>.win {
    position: absolute;
    top: calc(calc(608px - 80px) / 2);
    background: rgb(0, 0, 0, 0.75);
    color: white;
    width: 608px;
    height: 80px;
    font-size: 4rem;
    cursor: wait;
}

.container>.win:hover {
    cursor: default;
}